@media only screen and (max-width: 767px) {
    header .header {
        padding: 16px;
    }

    main .cards {
        grid-template-columns: 350px;
        row-gap: 40px;
    }

    main .cards .card1 {
        height: 120px; 
    }

    main .cards .card1 h2 {
        margin: 24px 28px 32px;
        font-size: 24px;
        line-height: 32px;
    }

    main .getting-started {
        width: 343px;
        height: 285px;
        margin-top: 102px;;
        margin-left: 16px;
        margin-right: 16px;
    }

    main .image {
        background-image: url("./assets/image-hero-mobile.png");
        background-position: center;
        background-size: cover;
        position: relative;
        width: 327px;
        height: 301px;
        left: auto;
        top: auto;
        margin: 46px 6.4% 0;
    }

    main .cards .card .title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    main .cards .card .description {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 24px;
    }

    main .gradient {
        top: auto;
        margin-top: 0;
        height: 1695px;
    }

    footer {
        top: 2495px;
    }

    footer .footer {
        padding: 36px 16px;
    }
}